Repository EnolCode/Memory: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-tests, frontend-lint, frontend-typecheck

backend-lint:
  name: Backend ESLint
  entry: bash -c 'cd backend && npm run lint'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && npm test'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check
  entry: bash -c 'cd frontend && (npm run type-check || npm run typecheck || npx tsc --noEmit)'
  language: system
  pass_filenames: false

fix: Update CI workflow to use pnpm instead of npm
  .github/workflows/ci.yml
Due: none

test: Testing pre-commit hook
  backend/src/main.ts
Due: backend-lint, backend-tests

fix: Update GitHub Actions workflow for pnpm cache
  .claude/settings.local.json
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  .pre-commit-config.yaml
  backend/src/main.ts
  package.json
  pnpm-lock.yaml
  run-tests.cjs
Due: backend-lint, backend-tests

fix: Add frontend pnpm-lock.yaml and update CI workflow
  .github/workflows/ci.yml
  frontend/pnpm-lock.yaml
Due: none

fix: Update CI to use pnpm version 10
  .github/workflows/ci.yml
Due: none

fix(frontend): configure ESLint and fix CI pipeline
  .claude/settings.local.json
  .github/workflows/ci.yml
  .lintstagedrc.json
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/services/api.ts
  frontend/src/stores/auth.spec.ts
  frontend/src/stores/auth.ts
  frontend/vitest.config.ts
Due: frontend-lint, frontend-typecheck

ci: desactivar temporalmente los tests de frontend
  .github/workflows/ci.yml
Due: none

ci: actualizar action de SonarCloud a versión no deprecada
  .github/workflows/ci.yml
Due: none

fix: usar action específica de SonarCloud v3.0.0
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

feat: configurar SonarCloud para análisis de código
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

fix: corregir configuración de SonarCloud - eliminar sonar.tests
  sonar-project.properties
Due: none

refactor: eliminar completamente SonarQube local del proyecto
  docker-compose.yml
Due: none

refactor: limpiar configuración de Sonar - migración completa a SonarCloud
  .gitignore
  .sonarlint/connectedMode.json
  .vscode/settings.json
  Makefile
  run-sonar.ps1
  run-sonar.sh
  sonar-scan.ps1
  sonar-scan.sh
Due: none

chore: Refactor sonar warnings
  backend/src/modules/identity/infrastructure/persistence/typeorm/repositories/user.repository.impl.spec.ts
  backend/src/modules/identity/infrastructure/strategies/jwt.strategy.spec.ts
  backend/src/modules/identity/infrastructure/strategies/local.strategy.spec.ts
  backend/src/modules/identity/infrastructure/strategies/local.strategy.ts
  docs/IMPLEMENTATION_ROADMAP.md
Due: backend-lint, backend-tests

Path conditions:
  backend-lint: any of: ^backend/src/.*\.(ts|js)$
  backend-tests: any of: ^backend/src/.*\.ts$
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
